<div class="container">
    <h1>Check out some of our featured recipes</h1>
 
    <div class="row">

        <div class="col-md-4" ng-repeat="r in controller.recents">
            <div class="panel panel-default test-panel">
                <div class="panel-heading">
                    <div>{{r.title}}</div>
                    <div>{{r.dateCreated | date}}</div>
                </div>
                <div class="panel-body">
                    <img ng-src="{{r.imageUrl}}" class="panel-image img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>
