<!--<h1>My Recipes</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4" ng-repeat="r in controller.recipes">
            <div class="panel panel-default test-panel">
                <div class="panel-heading">
                    <div>{{r.title}}</div>
                    <div>{{r.dateCreated | date}}</div>
                </div>
                <div class="panel-body">
                    <img ui-sref="recipeDetails({id: r.id})" ng-src="{{r.imageUrl}}" class="panel-image img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>-->


<div class="container">
    <h1>My Recipes by Category</h1>
    <h4>Click on a category to see all your recipes</h4>
    <div class="row">
        <div class="col-md-6" ng-repeat="c in controller.categories">
            <div class="panel panel-default test-panel">
                <div class="panel-heading">
                    <div class="needsCursor" ui-sref="catDetails({id:c.name})">{{c.name}}</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" ng-repeat="r in c.recipes">
                            <div>{{r.title}}</div>
                            <img ui-sref="recipeDetails({id: r.id})" ng-src="{{r.imageUrl}}" class="img-thumbnail test-panel-img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>