

<div class="container">
    <h4>Here is where I want to store other misc notes; not 100% sure how they'll get organized</h4>
    <div id="breakfast" class="well well-lg">
        <div class="row">
            <div class="col-md-4">
                <div class="noteCard">Here is a test note</div>
            </div>
            <div class="col-md-4">
                <div class="noteCard">Here is another test note</div>
            </div>
            <div class="col-md-4">
                <div class="noteCard">Here is a third test note</div>
            </div>
        </div>
    </div>
</div>
