<!--<h2>This is just a standard detail view where you can see your recipe and all of its details.  I think I should also have a list of any menus or entertaining notes where this recipe is featured and have a link to those pages</h2>-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">{{controller.recipe.title}} {{controller.recipe.dateCreated | date}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3"><img ng-src="{{controller.recipe.imageUrl}}" class="img-rounded img-responsive" /></div>
                    <div class="col-md-9">
                        <h4>Ingredients:</h4>
                        <div ng-repeat="i in controller.recipe.ingredients">
                            {{i.name}}
                            {{i.amount}}
                        </div>
                        <h4>Steps:</h4>
                        <div ng-repeat="s in controller.recipe.steps">
                            {{s.description}}
                        </div>
                        <h5>Additional Notes:</h5>
                        <div>{{r.notes}}</div>
                    </div>
                </div>
            </div>
       <div class="panel-footer">Filed under: {{controller.recipe.catName}}</div>
    </div>
    
    


    <form ng-submit="controller.addStep(step)">
        <label for="step">Add a Step</label>
        <input ng-model="step.description" type="text" placeholder="add a recipe step"/>
        <button>Add Step</button>
    </form>
    <form ng-submit="controller.addIngredient(ingredient)">
        <label for="ingredient">Add an Ingredient</label>
        <input ng-model="ingredient.name" type="text" placeholder="ingredient name"/>
        <input ng-model="ingredient.amount" type="text" placeholder="amount"/>
        <button>Add Ingredient</button>
    </form>

</div>